.user-profile-pic {
  border: 1px solid;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: 25px;
  position: absolute;
  z-index: 2;
  background: white;
  .camera-icon {
    background: url(../../../images/svgs/camera.svg);
    background-repeat: no-repeat, repeat;
    background-size: 90%;
    background-position: 50% 70%;
    cursor: pointer;
    bottom: 7px;
    right: 16px;
    position: absolute;
    height: 25px;
    width: 25px;
    &:hover {
      background-size: 100%;
    }
  }
}
