.user-profile-cont {
  width: 70%;
  margin: 0 auto;
  .user-cover-pic-cont {
    height: 225px;
    border: 1px solid;
    border-top: none;
  }
  .user-cover-pic-cont-no-border {
    border: none !important;
  }
}
