@import "../../../../styles/variables.scss";
.register-cont {
  width: 100%;
  margin: 0 auto;
  height: 70vh;
  padding: 1.25em;
  max-width: 700px;
  transition: all 0.3s;
}
.register-rows {
  display: flex;
  padding: 1.4em 0;
  line-height: 1.75em;
  align-items: center;
  font-size: 1.1em;
}
.register-rows-inptfld {
  flex: 3;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: 1px solid #cccccc;
    color: #2e2d2d;
    padding-left: 10px;
    line-height: 1.75em;
  }
}
.register-rows-inptlabel {
  flex: 1;
  padding-left: 15px;
  font-size: 1.1em;
  font-family: $app-font-medium;
  // color: white;
}
@media (max-width: 1000px) {
  .register-cont {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .register-cont {
    width: 90%;
  }
  .register-rows {
    padding: 0.5em 0;
    flex-direction: column-reverse;
    align-items: unset;
    .register-rows-inptlabel {
      padding-left: unset;
    }
  }
  input[type="radio"] {
    justify-content: right;
    width: 100%;
    margin: 0 3px;
    &:hover {
      cursor: pointer;
    }
  }
  input[type="radio"] {
    padding: 10px;
  }
  input[type="radio"]:checked {
    background: black;
  }
  .register-rows-inptfld {
    justify-content: unset;
    label {
      display: flex;
      align-items: center;
      margin: 0 3px;
      input {
        height: 13px;
        width: 13px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 500px) {
  input[type="radio"] {
    width: 16px;
    justify-content: flex-end;
    // margin-left: 43%;
    // margin-top: 5px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .register-rows-inptfld {
    label {
      display: flex;
      align-items: center;
      margin: 0 13px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.register-btn-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  .register-link {
    text-align: center;
    font-size: 1.2em;
    border: 1px solid $default-click-btn-border-color;
    width: 6em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 1.3em;
    cursor: pointer;
    background: $default-click-btn-background-color;
    color: $default-pc-color;
    padding: 0.4em;
    &:hover {
      background: $default-click-btn-hover-color;
      opacity: 0.8;
    }
  }
  .register-link-disabled {
    cursor: not-allowed;
    border: 1px solid rgb(194, 191, 191);
    background: rgb(194, 191, 191);
    color: white;
    &:hover {
      background: rgb(194, 191, 191);
      opacity: unset;
    }
  }
  .register-link--isloading {
    justify-content: space-between !important;
  }
  .login-link-cont {
    font-size: 1.1em;
    margin-top: 2em;
    .login-link {
      color: $default-pc-color;
      background: $default-click-btn-hover-color;
      padding: 0.2em;
      border-radius: 0.25em;
      cursor: pointer;
      &:hover {
        background: $default-click-btn-hover-color;
        opacity: 0.8;
      }
    }
  }
}

.btn-loader {
  border: 2px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 2px solid #555;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.email-error-txt {
  margin-top: -15px;
  font-size: 1.08em;
  color: $default-pc-color;
  .email-error-asterisk {
    color: red;
  }
}
