.pc-lp-sctn{
    background: white;
    margin: 1%;
}
.pc-lp-left-sctn{
    margin-right: 0;
    width: 20%;
}
.pc-lp-middle-sctn{
    width: 50%;
    margin-right: 0;
}
.pc-lp-right-sctn{
    width: 26%;
}