@import "../../../styles/variables.scss";
.cart-no-data {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 18px;
  // margin-top: 25px;
}
.login-redirection {
  font-size: 18px !important;
  span {
    color: #7b8b14 !important;
    cursor: pointer;
    margin: 0 4px;
  }
}
.user-cart-container {
  display: flex;
  padding: 0 1em;
  .cart-cards {
    width: 65%;
    position: relative;
  }
  .cart-total-price {
    height: 265px;
    position: relative;
    width: 34%;
    margin-left: 1%;
    color: #e9e7e7;
    :first-child {
      padding: 0.5em;
    }
    .order-summary {
      font-size: 1.5em;
      border-bottom: 1px solid;
      padding: 0.5em 0;
      font-family: $app-font-medium;
    }
    .order-summary-elems {
      display: flex;
      justify-content: space-between;
      padding: 0.25em 0.5em;
      font-size: 15px;
    }
    .order-summary-sepertor {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid;
    }
    .download-btn {
      height: 40px;
      width: 100px;
      border: 1px solid #e9e7e7;
      // background: #e9e7e7;
      // color: black;
      opacity: 0.75;
      border-radius: 8px;
      display: flex;
      left: 50%;
      justify-content: center;
      align-items: center;
      font-size: 1.35em;
      width: 90%;
      margin: 20px 5%;
      cursor: pointer;
      &:hover {
        color: #d19b9b;
      }
    }
  }
  .cart-prices {
    width: 35%;
  }
  .cart {
    //   width: 65%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    position: relative;
    border-bottom: 1px solid white;
    .cart-img {
      z-index: 3;
      //   padding: 15px;
      img {
        height: 125px;
        width: 125px;
        //   border-radius: 50%;
      }
    }
    .cart-item-dtls {
      //   z-index: 3;
      color: #e9e7e7;
    }
    .cart-item-price {
      position: absolute;
      right: 1em;
      top: 1em;
      color: #e9e7e7;
      font-family: $app-font-medium;
      font-size: 1.35em;
    }
    .phtoviwr-rght-sctn-img-size-dropdown {
      position: absolute;
      background: white;
      width: 110%;
      padding: 0.5em;
      margin-left: 0;
      z-index: 5;
      color: black;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0 4px 10px -3px grey;
      -webkit-box-shadow: 0 4px 10px -3px grey;
      cursor: pointer;
      .selected-image-size {
        background: rgb(241, 239, 239) !important;
        color: rgb(161, 106, 106) !important;
      }
      div {
        padding: 0.35em 0;
        text-indent: 0.5em;
        display: flex;
        flex-direction: column;
        &:hover {
          background: rgb(241, 239, 239);
        }
      }
    }
  }
  .cart-opaque {
    background: #1f1f1f;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
  }
  .cart-item-dtls {
    padding: 0px 0 0px 15px;
    position: relative;
    .phtoviwr-rght-sctn-img-size-header {
      font-family: $app-font-medium;
      font-size: 1.5em;
    }
    .img-content {
      cursor: pointer;
      .cart-item-size {
        display: flex;
        position: relative;
        > :first-child {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .img-size-arrow {
      font-family: $app-font-medium;
      font-size: 1.5em;
      margin-left: 5px;
      cursor: pointer;
    }
    .cart-image-size {
      display: flex;
      flex-direction: column;
      .cart-item-header {
        font-family: $app-font-medium;
        font-size: 1.5em;
      }
      .cart-item-desc {
        margin-bottom: 15px;
      }
    }
    .img-size-dropdown {
      position: absolute;
      background: white;
      width: 95%;
      padding: 0.5em;
      margin-left: 0;
      z-index: 5;
      color: black;
      border-radius: 0px 0px 4px 4px;
      cursor: pointer;

      div {
        padding: 0.35em 0;
        text-indent: 0.5em;
        display: flex;
        flex-direction: column;
        &:hover {
          background: rgb(241, 239, 239);
        }
      }
    }
    .phtoviwr-rght-sctn-img-size-dropdown-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }
}

@media (min-width: 800px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 800px) {
  .user-cart-container {
    flex-direction: column;
    .cart-cards {
      width: 100%;
    }
    .cart-total-price {
      width: 100%;
      margin-left: 0%;
    }
  }
}
@media (max-width: 550px) {
  .pc-root-main-cont {
    overflow-x: auto;
    .user-cart-container {
      min-width: 550px;
    }
  }
}
.dot-icon {
  content: url(../../../images/svgs/dot-single.svg);
  height: 10px;
  width: 10px;
}
.cross-icon {
  content: url(../../../images/svgs/cross.svg);
  height: 10px;
  width: 10px;
}
