@import "../../../styles/variables.scss";
.photoviewer-section {
  padding: 1em 1.5em;
  display: flex;
  .photo-section {
    width: 59.5%;
    height: 500px;
    border: 1px solid white;
    position: relative;
    .photo-section-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      z-index: 1;
      position: absolute;
      padding: 5px;
    }
    .full-screen-icon {
      //   background: white;
      color: white;
      z-index: 2;
      font-weight: 600;
      font-size: 2em;
      position: absolute;
      right: 5px;
      cursor: pointer;
    }
  }
  .photo-desc-section {
    border: 1px solid white;
    width: 39.5%;
    margin-left: 1%;
    // padding: 10px;
    position: relative;
    z-index: 2;
    height: 500px;
  }
  .background-color-gradient {
    background: black;
    opacity: 0.75;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.full-screen-img-modal {
  width: 90% !important;
  height: 90% !important;
  position: absolute;
  top: 5%;
  left: 5%;
  .ant-modal-content {
    height: 100%;
    background: black;
    opacity: 1;
    .ant-modal-close {
      top: -14px;
      right: -14px;
      color: white;
      .ant-modal-close-x {
        font-size: 20px !important;
      }
    }
    .ant-modal-body {
      padding: 0;
      height: 100%;
      .photo-section-img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        z-index: 2;
        //   position: absolute;
        padding: 25px;
      }
    }
  }
}

.section-title-keywards {
  margin-top: 1.5em;
  padding: 0 1.75em;
  .section-title {
    font-family: $app-font-medium;
    font-size: 1.75em;
  }
  .keywords {
    display: flex;
    flex-wrap: wrap;
    .each-keyword {
      padding: 0.35em 1em;
      margin: 0.5em 0.5em;
      border: 1px solid gray;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background: rgba(138, 138, 138, 0.4);
      }
    }
  }
}
