@import "../../../styles/variables.scss";
.photoviewer-right-section {
  color: #f2efef !important;
  z-index: 3;
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  .photoviewer-right-section-header {
    font-family: $app-font-medium;
    font-size: 1.5em;
    border-top: 1px solid;
    // color: rgb(31, 31, 31);
  }
  .photoviewer-right-section-radio-grp {
    font-family: $app-font-regular;
    overflow: hidden;
  }
  .photoviewer-right-section-add-to-cart {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #f2efef;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #d19b9b;
    }
  }
  .photoviewer-right-section-photo-details {
    // padding-top: 8px;
    border-top: 1px solid;
    .photo-details-title {
      font-family: $app-font-medium;
      font-size: 1.5em;
    }
    .photo-details-content {
      margin-top: 5px;
      //   font-family: $app-font-medium;
    }
  }
  .phtoviwr-rght-sctn-img-size {
    margin-bottom: 1em;
    position: relative;
    .phtoviwr-rght-sctn-img-size-header {
      font-family: $app-font-medium;
      font-size: 1.5em;
    }
    .phtoviwr-rght-sctn-img-size-content {
      cursor: pointer;
    }
    .phtoviwr-rght-sctn-img-size-arrow {
      font-family: $app-font-medium;
      font-size: 1.5em;
      position: absolute;
      right: 20px;
      top: 26px;
      cursor: pointer;
    }
    .phtoviwr-rght-sctn-img-size-dropdown {
      position: absolute;
      background: white;
      width: 95%;
      padding: 0.5em;
      margin-left: 0;
      z-index: 5;
      color: black;
      border-radius: 0px 0px 4px 4px;
      cursor: pointer;
      .selected-image-size {
        background: rgb(241, 239, 239) !important;
        color: rgb(161, 106, 106) !important;
      }
      div {
        padding: 0.35em 0;
        text-indent: 0.5em;
        display: flex;
        flex-direction: column;
        &:hover {
          background: rgb(241, 239, 239);
        }
      }
    }
    .phtoviwr-rght-sctn-img-size-dropdown-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }
}
@media (max-width: 800px) {
  .photoviewer-section {
    flex-direction: column;
    .photo-section {
      width: 100%;
    }
    .photo-desc-section {
      width: 100%;
      margin-left: 0;
      margin-top: 1em;
    }
  }
}

.dot-icon {
  content: url(../../../images/svgs/dot-single.svg);
  height: 10px;
  width: 10px;
}
.cross-icon {
  content: url(../../../images/svgs/cross.svg);
  height: 10px;
  width: 10px;
}

.btn-loader {
  margin-left: 5px;
  margin-top: 3px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #a26b6b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}
