@import "../../../../styles/variables.scss";
@import "../../../../styles/common.scss";
.login-cont {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  // border: 1px solid;
  height: 70vh;
  padding: 1.5em;
}
.login-rows {
  display: flex;
  padding: 1.4em 0;
  line-height: 1.75em;
  align-items: center;
  font-size: 1.1em;
}
.login-rows-inptfld {
  flex: 5;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  input {
    @include input-class;
  }
}
.login-rows-inptlabel {
  flex: 1;
  padding-left: 15px;
  font-size: 1.1em;
  font-family: $app-font-medium;
}
@media (max-width: 500px) {
  .login-cont {
    width: unset !important;
  }
  .login-rows {
    flex-direction: column-reverse;
    align-items: unset;
    .login-rows-inptlabel {
      padding-left: unset;
      margin-top: 5px;
    }
  }
  input[type="radio"] {
    justify-content: right;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .login-rows-inptfld {
    justify-content: unset;
    label {
      display: flex;
      align-items: center;
      margin: 0 3px;
      input {
        height: 13px;
        width: 13px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 500px) {
  input[type="radio"] {
    width: 16px;
    justify-content: flex-end;
    // margin-left: 43%;
    // margin-top: 5px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .login-rows-inptfld {
    label {
      display: flex;
      align-items: center;
      margin: 0 13px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.login-btn-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  .login-link-disabled {
    background: rgba(138, 138, 138, 0.4) !important;
    border: 1px solid rgba(138, 138, 138, 0.4) !important;
    color: white;
    // cursor: not-allowed !important;
  }
  .login-link {
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid $default-click-btn-border-color;
    width: 6em;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 1.3em;
    cursor: pointer;
    background: $default-click-btn-background-color;
    color: $default-pc-color;
    padding: 0.4em;
    &:hover {
      background: $default-click-btn-hover-color;
      opacity: 0.8;
    }
    .btn-loader {
      margin-left: 5px;
      margin-top: 3px;
      border: 2px solid #f3f3f3;
      border-top: 2px solid #3f3f3f;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      animation: spin 2s linear infinite;
    }
  }
  .register-link-cont {
    font-size: 1.1em;
    margin-top: 2em;
  }
  .forget-password-cont {
    font-size: 1.1em;
    margin-top: 1em;
  }
  .register-link {
    color: $default-pc-color;
    background: $default-click-btn-hover-color;
    padding: 0.2em;
    border-radius: 0.25em;
    cursor: pointer;
    &:hover {
      background: $default-click-btn-hover-color;
      opacity: 0.8;
    }
  }
}
.email-error-txt {
  margin-top: -15px;
  font-size: 1.08em;
  color: $default-pc-color;
  .email-error-asterisk {
    color: red;
  }
}