@import "./variables.scss";
.pc-root-main-cont {
  font-family: $app-font-regular;
  // background: $default-pc-hovercolor;
  height: calc(100vh - 44px);
  position: relative;
  z-index: 1;
}
.pc-root-main-cont-SignPage {
  height: 100vh;
}
.pc-root-main-cont-LandingPage {
  overflow-y: auto;
  overflow-x: hidden;
}
.back-to-home {
  cursor: pointer;
  padding-left: 1.5em;
  :first-child {
    margin-right: 5px;
  }
}

.pc-root-background {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -2;
}
.homepage-app-tabs {
  position: relative;
  z-index: 1;
}

/*
 *  STYLE 8
 */

webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

webkit-scrollbar {
  width: 4px !important;
  background-color: #f5f5f5;
}

webkit-scrollbar-thumb {
  background-color: #000000;
}
