@import "./variables.scss";
.pc-root-main-cont {
  font-family: $app-font-regular;
  height: calc(100vh - 110px);
  position: relative;
  z-index: 1;
}
@media (max-width: 550px) {
  .pc-root-main-cont {
    height: calc(100vh - 80px);
  }
  .app-footer {
    height: 500px !important;
    .footer-cont .footer-cont-list {
      flex-wrap: wrap;
      div {
        width: 50%;
      }
    }
  }
}
@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  }
}
.pc-root-main-cont-LoginPage {
  height: calc(100vh - 44px) !important;
}
.pc-root-main-cont-SignUpPage {
  height: calc(100vh - 44px) !important;
}
.pc-root-main-cont-SignPage {
  height: 100vh;
}
.pc-root-main-cont-LandingPage {
  overflow-y: auto;
  overflow-x: hidden;
}
.back-to-home {
  cursor: pointer;
  padding-left: 1.5em;
  :first-child {
    padding-right: 5px;
  }
}

.pc-root-background {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -2;
}
.homepage-app-tabs {
  position: relative;
  // z-index: 1;
}

/*
 *  STYLE 8
 */

webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

webkit-scrollbar {
  width: 4px !important;
  background-color: #f5f5f5;
}

webkit-scrollbar-thumb {
  background-color: #000000;
}

@mixin input-class {
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: 1px solid #cccccc;
  color: #2e2d2d;
  padding-left: 10px;
  line-height: 1.75em;
}

@mixin button-class {
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid $default-pc-background;
  width: 6em;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  border-radius: 6px;
  margin-top: 1.3em;
  cursor: pointer;
  background: $default-pc-background;
  color: $default-pc-color;
  padding: 0.4em;
  outline: none;
  &:hover {
    background: $default-pc-background;
    opacity: 0.8;
  }
}

@mixin no-data-class {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 25px;
}

@mixin footer-overlay {
  position: absolute;
  top: 0;
  z-index: 4;
  background: #000000;
  opacity: 0.75;
  height: 100%;
  width: 100%;
}
@mixin secondary-footer-cont {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  height: 65px;
  width: 100%;
  border-top: 1px solid;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

@mixin image-card-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
