$app-font-size: 13px;
$app-font-regular: "Roboto-Regular";
$app-font-medium: "Roboto-Medium";
$app-font-bold: "Roboto-Bold";
$default-ctnr-padding: 1.5em;
$default-ctnr-margin: 1.5em;

$default-pc-color: #363636;
$default-pc-background: rgb(181, 198, 76);
$default-pc-hovercolor: #F0F4C3;
$default-btn-color: #0a889b

