$app-font-size: 13px;
$app-font-regular: "Roboto-Regular";
$app-font-medium: "Roboto-Medium";
$app-font-bold: "Roboto-Bold";
$default-ctnr-padding: 1.5em;
$default-ctnr-margin: 1.5em;

$default-pc-color: #363636;
$default-pc-background: rgb(181, 198, 76);
// $default-pc-hovercolor: #F0F4C3;
$default-pc-hovercolor: #f0f0f0;
$default-btn-color: #0a889b;
$default-pc-hovercolor: #f0f0f0;
$default-click-btn-border-color: gray;
$default-click-btn-background-color: white;
$default-click-btn-hover-color: rgba(138, 138, 138, 0.4);