@import "../../../../styles/variables.scss";
.hdr-user-dtls-cont {
  width: 100px;
}
.user-dtls-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 0.5em 0.5em;
  .user-dtls-list-item {
    width: 100%;
    padding: 0.5em 0em;
    text-indent: 1em;
    cursor: pointer;
    &:hover {
      background: $default-pc-hovercolor;
    }
  }
}
