@import "../../../../styles/variables.scss";
.pblsh-img-upld {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-top: 1em;
  .custom-pblsh-file-input {
    div {
      background: url(../../../../images/svgs/icons8-plus.svg);
      background-repeat: no-repeat, repeat;
      background-size: 30%;
      background-position: 50% 70%;
      cursor: pointer;
    }
  }
  button {
    height: 1.5em;
    display: flex;
    line-height: 1.25em;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    outline: none;
    border: 1px solid $default-pc-background;
    background: $default-pc-background;
    cursor: pointer;
  }
  .disable-upld-btn {
    cursor: not-allowed;
    border: 1px solid rgb(194, 191, 191);
    background: rgb(194, 191, 191);
    color: white;
  }
  img {
    margin-top: 2px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}
